Repository levaintech/sticky, pull requests merged in 2022-12, with the labels that each got.

#45 feat(testcontainers): Add sticky-testcontainers package
  packages/sticky-testcontainers/README.md
  packages/sticky-testcontainers/package.json
  packages/sticky-testcontainers/src/GenericContainer.ts
  packages/sticky-testcontainers/src/LocalstackContainer.ts
  packages/sticky-testcontainers/src/LocalstackContainer.unit.ts
  packages/sticky-testcontainers/src/PostgreSqlContainer.ts
  packages/sticky-testcontainers/src/PostgreSqlContainer.unit.ts
  packages/sticky-testcontainers/src/RedisContainer.ts
  packages/sticky-testcontainers/src/RedisContainer.unit.ts
  packages/sticky-testcontainers/src/index.ts
  packages/sticky-testcontainers/tsconfig.build.json
  packages/sticky-testcontainers/tsconfig.json
  pnpm-lock.yaml
Labels: kind/feature

#50 fix(sticky-turbo-jest): rely on child process exit code for failure d…
  packages/sticky-turbo-jest/jest-turbo.js
Labels: kind/fix, area/sticky-turbo-jest

#60 chore(package): add workspaces in package.json
  package.json
Labels: kind/chore
